@model FindMyDrug.Entities.Models.Drug
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AddDrug";
    Layout = "_Layout";
    var pharmacyId = ViewBag.pharmacyId;
}

@section Style {
    <style>
        body {
            background-color: #f8f9fa; 
        }

       

        .btn-group {
            margin-bottom: 20px;
        }

        .card {
            border-radius: 10px; 
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        }

        .card-header {
            background-color: #007bff;
            color: white; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
        }

        .form-control {
            border-radius: 5px;
        }

        .btn {
            border-radius: 5px;
            transition: background-color 0.3s ease; 
           
        }

        .btn:hover {
            filter: brightness(0.9); 
        }

        .text-danger {
            font-weight: bold; 
        }
    </style>

}


<div class="container text-center mt-5">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="btn-add-drug" class="btn btn-primary" onclick="showAddDrug()">
            <i class="fas fa-pills"></i> Add Drug
        </button>
        <button id="btn-upload-excel" class="btn btn-secondary"  onclick="showUploadExcel()">
            <i class="fas fa-file-excel"></i> Upload Excel
        </button>
    </div>

    <!-- Add Drug Form -->
    <div id="add-drug-form" class="card shadow-sm d-none mx-auto mt-4" style="max-width: 500px;">
        <div class="card-header">
            <h4>Add New Drug</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                <input type="hidden" asp-for="PharmacyId" value="@ViewBag.PharmacyId"/>

                <div class="form-group">
                    <label for="Name">Drug Name</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Enter drug name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Dosage">Dosage</label>
                    <input type="text" class="form-control" asp-for="Dosage" placeholder="Enter dosage" required />
                    <span asp-validation-for="Dosage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="number" class="form-control" asp-for="Price" placeholder="Enter price" required step="1" min="0"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="IsAvailable">Is Available</label>
                    <select class="form-control" asp-for="IsAvailable">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success" style=" margin: 10px;">
                    <i class="fas fa-check"></i> Save Drug
                </button>
            </form>
        </div>
    </div>

    ﻿@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
    {
        <div class="alert alert-success" role="alert">
            All records inserted successfully
        </div>
    }
    else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "empty")
    {
        <div class="alert alert-warning" role="alert">
            File is empty
        </div>
    }
    <!-- Upload Excel Form -->
    <div id="upload-excel-form" class="card shadow-sm d-none mx-auto mt-4" style="max-width: 500px;">
        <div class="card-header">
            <h4>Upload Drug List via Excel</h4>
        </div>
        <div class="card-body">
            <form asp-action="UploadExcel" asp-controller="Drug" enctype="multipart/form-data" method="post">
                <input type="hidden" name="PharmacyId" value="@ViewBag.PharmacyId" />
                <div class="form-group">
                    <label for="ExcelFile">Upload Excel File</label>
                    <input type="file" name="file" class="form-control-file" id="ExcelFile" required />
                    <a href="#" data-bs-toggle="modal" data-bs-target="#locationModal" class="d-block mt-2">How to add it?</a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="locationModalLabel">How add the Drugs from file?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To add the Drugs from file, please follow these steps:</p>
                                
                                    Upload an Excel file to this structure
                                <a href="~/Images/assets/structureFile.jpg" target="_blank">
                                    <img src="~/Images/assets/structureFile.jpg" alt="structure" width="300px" />
                                </a>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <button type="submit" class="btn btn-primary" style=" margin: 10px;">
                    <i class="fas fa-upload"></i> Upload File
                </button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        function showAddDrug() {
            $('#add-drug-form').removeClass('d-none');
            $('#upload-excel-form').addClass('d-none');
            $('#btn-add-drug').addClass('btn-primary').removeClass('btn-secondary');
            $('#btn-upload-excel').addClass('btn-secondary').removeClass('btn-primary');
        }

        // Function to toggle to the Upload Excel form
        function showUploadExcel() {
            $('#upload-excel-form').removeClass('d-none');
            $('#add-drug-form').addClass('d-none');
            $('#btn-upload-excel').addClass('btn-primary').removeClass('btn-secondary');
            $('#btn-add-drug').addClass('btn-secondary').removeClass('btn-primary');
        }

        
        $(document).ready(function() {
            showAddDrug();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

